<div id="featured">
	<div class="image_categories">
    <% if @list_best_products.nil? || @list_best_products.empty? %>
      <%= link_to (image_tag 'store/spree_vintage_theme/no_product.jpg', :width => 330, :height => 400), "#" %>
    <% else %>
      <% @help = @list_best_products.first %>
      <% if @help.images.first.attachment.styles.select{ |i| i == "feature"}.length == 1 %>
        <%= link_to feature_image(@help, :itemprop => "image"), @help, :itemprop => 'url' %>
      <% else %>
        <%#= link_to small_image(@help, :itemprop => "image", :width => 330, :height => 240), best_seller_path, :itemprop => 'url' %>
        <%= link_to (image_tag("store/spree_vintage_theme/default/Best Seller.jpg", :width => 330, :height => 400)), @help, :itemprop => 'url' %>
      <% end %>
    <% end %>
		<div class="promotion">
      <div class="tag_promotion"><%= link_to "#{t(:best_products_title)} >", @help %></div>
		</div>
	</div>
	
	<div class="image_categories_new">
    <% if @list_new_products.nil? || @list_new_products.empty? %>
      <%= link_to (image_tag 'store/spree_vintage_theme/no_product.jpg', :width => 330, :height => 400), "#" %>
    <% else %>
      <% @help = @list_new_products.first %>
      <% if @help.images.first.attachment.styles.select{ |i| i == "feature"}.length == 1 %>
        <%= link_to feature_image(@help, :itemprop => "image"), @help, :itemprop => 'url' %>
      <% else %>
        <%#= link_to small_image(@help, :itemprop => "image", :width => 330, :height => 240), new_path, :itemprop => 'url' %>
        <%= link_to (image_tag("store/spree_vintage_theme/default/New.jpg", :width => 330, :height => 400)), @help, :itemprop => 'url' %>
      <% end %>
    <% end %>
		<div class="promotion">
      <div class="tag_promotion"><%= link_to "#{t(:newest_products_title)} >", @help %></div>
		</div>
	</div>
	
	<div class="image_categories">
    <% if @list_promotion_products.nil? || @list_promotion_products.empty? %>
      <%= link_to (image_tag 'store/spree_vintage_theme/no_product.jpg', :width => 330, :height => 400), "#" %>
    <% else %>
      <% @help = @list_promotion_products.first %>
      <% if @help.images.first.attachment.styles.select{ |i| i == "feature"}.length == 1 %>
        <%= link_to feature_image(@help, :itemprop => "image"), @help, :itemprop => 'url' %>
      <% else %>
        <%#= link_to small_image(@help, :itemprop => "image", :width => 330, :height => 400), promo_path, :itemprop => 'url' %>
        <%= link_to (image_tag("store/spree_vintage_theme/default/Promosi.jpg", :width => 330, :height => 400)), @help, :itemprop => 'url' %>
      <% end %>
    <% end %>
		<div class="promotion">
      <div class="tag_promotion"><%= link_to "#{t(:promotion_products_title)} >", @help %></div>
		</div>
	</div>
</div>

<div style="clear: both;"></div>
