<% if Spree::Promotion.count > 0 %>
	<div class="five columns alpha offset-by-nine coupon-code-field">
		<%= order_form.text_field :coupon_code, :size => 10, :placeholder => t(:coupon_code) %>
		<%= order_form.submit I18n.t(:apply) %>
	</div>
<% end %>
