<ul class="account_locale">
  <div class="registration">
    <li class="my_logout"><%= link_to (t :logout), destroy_user_session_path %></li>
    <li class="my_account"><%= link_to (t :account), account_path %></li>
  </div>
  <li class="locale_list"><%= select_tag(:locale, options_for_select(@list_locales.map { |key, val| [val, key] }, I18n.locale)) %></li>
</ul>
