<%= form_for @image, :url => spree.admin_spree_vintage_theme_theme_images_path do |f| %>
  <table>
    <tr>
      <td><%= t :filename %></td>
      <td><%= f.file_field :image, :multiple => true %></td>
    </tr>
    <tr><td colspan="2"><%= f.submit %></td></tr>
  </table>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
      $(".new_spree_vintage_theme_theme_image input[type='submit']").click(function(e){
        if($("#spree_vintage_theme_theme_image_image").val())
        { }
        else
          e.preventDefault();
      });
  });
</script>
