<script style="text/javascript">
  $(document).ready(function(){
    $("nav#taxonomies").addClass("taxon-fat-footer");
    <% if current_page?(root_path) %>
      $("#sidebar").remove();
    <% end %>
  });
</script>

<div style="clear:both"></div>
<div id="fat-footer">
  <% get_taxonomies.each do |taxonomy| %>
    <div class="fat-footer-taxon">
      <h6 class='taxonomy-root'><%= taxonomy.name %></h6>
      <%= taxons_tree(taxonomy.root, @taxon, Spree::Config[:max_level_in_taxons_menu] || 1) %>
    </div>
  <% end %>
  <div class="fat-footer-taxon">
    <h6 class='taxonomy-root'><%= t :service %></h6>
      <ul class="taxons-list">
        <li>
          <% unless @contact_us.nil? %>
            <%= link_to (t "fat_footer.contact_us"), info_path(@contact_us) %>
          <% else %>
            <%= link_to (t "fat_footer.contact_us"), "#" %>
          <% end %>
        </li>
        <li>
          <% unless @how_to_shop.nil? %>
            <%= link_to (t "fat_footer.how_to_shop"), info_path(@how_to_shop) %>
          <% else %>
            <%= link_to (t "fat_footer.how_to_shop"), "#" %>
          <% end %>
        </li>
        <% if !@confirm_transfer.nil? %>
          <li><%= link_to (t "fat_footer.confirm_transfer"), info_path(@confirm_transfer) %></li>
        <% end %>
        <li><%= link_to (t "fat_footer.order_information"), order_information_path %></li>
      </ul>
  </div>
</div>
