<span class="product_name"><%= product.name %></span>
<div class="product-info">
  <span class="product_price"><%= link_to t(:view), product_path(product), :itemprop => 'url', :class => 'product_view' %></span>
</div>

<script type="text/javascript">
  $(document).ready(function(){
      $("a.info").remove();

      $(".product-info").hide();

      $(".product-image img").mouseover(function(){
        $(this).parent().parent().parent().find(".product-info").show();
      });

      $(".product-info").mouseover(function(){
        $(this).show();
      });

      $(".product-image img").mouseout(function(){
         $(this).parent().parent().parent().find(".product-info").hide();
      });

      $(".product-info").mouseover(function(){
        $(this).show();
      });

      $(".product-info").mouseout(function(){
        $(this).hide();
      });
  });
</script>
