<% if flash[:alert] %>
  <div class="flash errors"><%= flash[:alert] %></div>
<% end %>

<% @body_id = 'login' %>
<div id="existing-customer">
  <h6><%= t(:login_as_existing) %></h6>
  <div data-hook="login">
    <%= render :partial => 'spree/shared/login' %>
    <%= link_to t(:create_a_new_account), spree.signup_path, :id => "signup_link" %>
  </div>
</div>
<div data-hook="login_extras"></div>
